// body.page-template-countdown .site-header {
// 	// top border
// 	@include border('top');
// 	border-bottom: none;
// }

#countdown {
	display: flex;
	justify-content: center;
	font-family: $font__marker;

	.time-container {
		margin: $size__spacing-unit 0.5 * $size__spacing-unit;
		text-align: center;
		font-size: $font__size-sm;

		.time-value {
			font-size: $font__size-md;

			@include media(tablet) {
				font-size: $font__size-lg;
			}
		}

		@include media(tablet) {
			font-size: $font__size-md;
		}
	}
}


body.page-template-countdown .map-container {
	position: relative;

	&:after {
		@include pseudoBorderHorizontal('bottom');
	}
}
